<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolseley Cipher</title>
    <script src="../../Controllers/MonoalphabeticSubstitutionCipherControllers/WolseleyCipherController.js" type="module" defer></script>
    <link rel="stylesheet" href="../../Stylesheets/Main.css">
</head>
<body>
    <h1>Wolseley Cipher</h1>
    <a href="../../Index.html"><< Home</a>
    <div class="container">
        <div class="row">
            <div class="label">Keyword:</div>
            <div>
                <input type="text" id="inpKeyword" value="KEYWORD">
            </div>
        </div>
        <div class="row">
            <div class="label">Add keyword to the back of the character set:</div>
            <div>
                <input type="checkbox" id="inpAppendKeyword">
            </div>
        </div>
        <details class="row">
            <summary>Optional settings</summary>
            <div class="row">
                <div class="label">Character set to use:</div>
                <div>
                    <textarea id="txtCharSet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</textarea>
                </div>
            </div>
        </details>
        <div class="row">
            <div class="label">Plaintext:</div>
            <div>
                <textarea id="txtPlaintext"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="label">Encrypted:</div>
            <div>
                <textarea id="txtCiphertext"></textarea>
            </div>
        </div>
    </div>
</body>
</html>