<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Cipher</title>
    <script src="../../controllers/monoalphabetic-substitution-ciphers/shiftciphercontroller.js" type="module" defer></script>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>
<body>
    <a href="../../index.html"><< Home</a>
    <div class="container">
        <div class="row>">
            <div class="label">Shift value:</div>
            <div>
                <select id="sltShiftKey"></select>
            </div>
        </div>
        <details class="row">
            <summary>Optional settings</summary>
            <div class="row">
                 <div class="label">Character set to use:</div>
                <div>
                    <textarea id="txtCharSet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</textarea>
                    <abbr title="Use space to create a second set of character on which the shift gets applied independently.">(?)</abbr>
                </div>
            </div>
        </details>
        <div class="row">
            <div class="label">Plaintext:</div>
            <div>
                <textarea id="txtPlaintext"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="label">Encrypted:</div>
            <div>
                <textarea id="txtCiphertext"></textarea>
            </div>
        </div>
    </div>
</body>
</html>