<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rail Fence/Zigzag Cipher</title>
    <script src="../../Controllers/TranspositionCipherControllers/RedefenceCipherController.js" type="module" defer></script>
    <link rel="stylesheet" href="../../Stylesheets/Main.css">
</head>
<body>
    <a href="../../Index.html"><< Home</a>
    <div class="container">
        <div class="row">
            <div class="label">Keyword:</div>
            <div>
                <input type="text" value="KEY" id="inpKeyword">
            </div>
        </div>
        <div class="row">
            <div class="label">Plaintext:</div>
            <div>
                <textarea id="txtPlaintext"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="label">Encrypted:</div>
            <div>
                <textarea id="txtCiphertext"></textarea>
            </div>
        </div>
    </div> 
</body>
</html>